<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Register/Register.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="register">
      <div class="box">
        <h1>Register Page</h1>
        <form method="POST">
          <input name="email" placeholder="Email" type="text" />
          <input name="password" placeholder="Password" type="password" />
          <button>Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login Here</a></p>
      </div>
    </div>
  </body>
</html>
